Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db-*
Content/InfinityBladeEffects/
Content/AnimStarterPack/
*.ipch
Content/Mixamo/
Content/Lion/
Content/Demon/
Content/TestingGroundPack/
